<div class="card card-container">
  <div class="row justify-content-center" style="margin-top: 20px;">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-3">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="mail" />
            <bfv-messages></bfv-messages>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" formControlName="password" />
            <bfv-messages></bfv-messages>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
          </div>
        </div>
      </form>
      <div *ngIf="notAuthorized">
        <div class="col-sm-10">
          <p>
            <ngb-alert type="warning" (close)="notAuthorized = false">Wrong email or password</ngb-alert>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
