<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Angular application</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <div *ngIf="!auth.isLoggedIn()">
          <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
        </div>
      </li>
      <li class="nav-item">
        <div *ngIf="auth.isLoggedIn()">
          <a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
