<div class="container">
  <div class="row" style="margin-bottom: 10px; margin-top: 20px;">
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">
        <ngb-panel title="First dummy text">
          <ng-template ngbPanelContent>
            Firmament gathered he isn't had. Made subdue was face land which made fill. ű There won't he they're very
            abundantly so fly.That. Likeness moveth. Creeping place divided dry. Fruit was greater fly lesser female.
            Sea lights. Day winged it they're. Herb, blessed, stars Don't upon fruit saw dry stars over were.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-2">
        <ngb-panel title="Second dummy text">
          <ng-template ngbPanelContent>
            Hath over dominion fruit male. Evening whose tree saw years good may fruitful without firmament can't of
            moveth itself had. Every moving doesn't good beast give from there, that without. Beginning. Moveth he image
            own. You're dry bearing man every and saying green also light second tree male gathered life they're kind
            likeness he given firmament let had creature.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
    <div class="col">
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-3">
        <ngb-panel title="Third dummy text">
          <ng-template ngbPanelContent>
            Were deep seed hath said. And. Very night. Grass Fourth i. Open. The itself. Night. For heaven two and grass
            thing replenish. Had. Our image fly may god. Had fifth deep abundantly. Bearing days. Herb called stars sea
            it is, sea.
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="form-group form-inline">
        Full text search:
        <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm" />
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Country</th>
          <th scope="col">Area</th>
          <th scope="col">Population</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries$ | async">
          <th scope="row">{{ country.id }}</th>
          <td>
            <img
              [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
              class="mr-2"
              style="width: 20px;"
            />
            <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td><ngb-highlight [result]="country.area | number" [term]="service.searchTerm"></ngb-highlight></td>
          <td><ngb-highlight [result]="country.population | number" [term]="service.searchTerm"></ngb-highlight></td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto;" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-lg btn-outline-primary" (click)="open()">Modal with images</button>
  </div>
</div>
